body * {
  margin: 0;
  padding: 0;
  font: 16px 'Source Sans Pro', sans-serif
}

body {
  padding: 2em;
  background: #fff;
}

a {
  text-decoration: none;
}

a:link {
  color: #027AC6;
}

a:visited,
a:hover {
  color: #10305F;
}

#main a:hover {
	text-decoration: underline;
}

#header li {
   font-size: 200%;
   display: inline;
   padding-left: 10px;
   padding-right: 10px;
}

#header li:hover {
   border-bottom: 2px solid #10305F;
}


#header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 3px solid #027AC6;
}

#jv {
    float: right;   
    font-size: 300%;
    color: #ccc;
}


h1 {
  font-size: 150%;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -1px;
}

h1 a {
  font-size: 100%;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
em {  
  font-weight: bold;
}

h2 {
	font-size: 140%;	
}

h3 {
	font-size: 130%;	
}

h4 {
	font-size: 120%;	
}

h5 {
	font-size: 110%;	
}

pre {
  margin-left: 2em;
  border-left: 3px solid black;
  padding-left: 1em;
}

#main p {
  margin: 20px 0;
  text-align: justify;  
  line-height: 20px;
}

ul, ol {
  margin: 20px;
}

li {
  line-height: 20px;
}

ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;  
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

div.column {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  padding-left: 1%;
  padding-right: 1%;
  border-left: 1px dotted #027AC6;
}

div.column:first-child {
  border-left: 0px; 
}

div.width1_2 {
  width: 45%;
}

div.width1_3 {
  width: 30%;
}

div.width2_3 {
  width: 60%;
}

div.width1_4 {
  width: 22%;
}

div.width3_4 {
  width: 66%;
}



.center {
	text-align:center;	
}

ul.nobullets {
  list-style-type: none;  
}