<div class="posts column width1_2">
  <% if sorted_articles.size > 0 %>
    <% sorted_articles.each do |post| %>
      <% if (post[:published] != false) %>
        <div class='post'>
          <h1><%= link_to post[:title], post.path %></h1>
          <aside>Posted at: <%= get_pretty_date(post) %></aside>
          <article>
            <%= get_post_start(post) %>
          </article>
        </div>
      <% end %>  
    <% end %>
  <% else %>
    <h1>No posts yet, sorry :-)</h1>    
  <% end %>
</div>
<div class="column width1_2">
  <div class="center">
    <img src="images/face.png"/>
  </div>
  <div>
    <p>
      There is no programming language that rules them all.
    </p>
    <p>
      I'm interested in programming languages, compilers and virtual machines, 
      in particular in multi-language programming environments.
    </p>
    <p>
      I love Smalltalk. But I'm critical about it, all the same. 
    </p>
  </div>
</div>